body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.types{
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: center;
}
.textTypes{
    margin-bottom: 2px;
}
.tournaments{
    display: flex;
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
}
.box{
    border: 1px solid gray;
    border-radius: 50px 25px;
    height: 250px;
    min-width: 250px;
    padding: 20px;
    margin: 20px;
}
.typeSport{
    margin-bottom: 10px;
}
.desc{
    margin-top: 0px;
    margin-bottom: 0px;
}
.descBox {
    border: 0.7px solid gray;
    min-height: 50px;
}
.description{
    margin: 0px;
}
.minPlayers{
    margin-top: 10px;
    margin-bottom: 5px;
}
.maxPlayers{
    margin-top: 0px;
    margin-bottom: 10px;
}
.info {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    width: 200px;
    margin-left: 15px;
}
    .info::after {
        content: "";
        background-color: #46D3CA;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    .info:hover::after {
        top: 0px;
        left: 0px;
    }
.logBtn {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 15%;
    line-height: 30px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #46D3CA;
    border-radius: 200px;
    border-width: 0px;
}
    .logBtn:hover {
        background-color: #46D3CA;
        color: #111414;
    }