html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#topPart {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 100%;
    width: 100%;
    height: 20%;
}
#logo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    width: auto;
}
#title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    width: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
